<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faraway.auditall">

    <application
        android:name=".DataBase.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SuperEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitialPageActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuditPagerActivity"
            android:label="AuditPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinishActivity"
            android:label="FinishActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SingleFragmentActivity"
            android:label="SingleFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectPhoto.SelectActivity"
            android:label="SelectPhoto.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SelectPhoto.ShowBigPictureActivity"
            android:label="SelectPhoto.ShowBigPictureActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".MyProvider"
            android:authorities="com.faraway.auditall.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- tools:replace="android:authorities"> -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>